pyhocon
langchain==0.3.27
langchain-core==0.3.74
langchain-text-splitters==0.3.9
langchain-anthropic==0.3.18
langchain-google-genai==2.1.9
langchain-openai==0.3.29
langchain-huggingface==0.3.1# dev
exploration/
sentencepiece==0.2.0
torch==2.8.0
transformers==4.55.0
langchain-community==0.3.27
accelerate==1.10.0

# For dev
pytest
ipython
pylint
flake8
flake8-quotes
pep8-naming
isort
openpyxl
visidata
csvkit
black
tabulate[widechars]
